<div class="modal-header">
	<h3 class="modal-title" id="modal-title">
		Disable All - Confirmation
	</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-2 text-center">
            <span class="glyphicon glyphicon-question-sign glyphicon-size-50" aria-hidden="true"></span>
        </div>
        <div class="col-md-10">
            <p>
                By disabling all of this user's authentications, the user will be reverted to using <b>Native</b>
                authentication.
            </p>
            <p>Are you sure you want to disable all authentications?</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-default" ng-click="yes()">Yes</button>
</div>	