<div class="btn-group pull-right" role="group" aria-label="...">
	<button type="button" class="btn btn-default" 
		ng-click="previous()"
		ng-disabled="first === pageIndex + 1"><i class="fa fa-chevron-left"></i>
	</button>
	<button type="button" class="btn btn-default" 
		ng-repeat="page in pages" 
		ng-click="go({pageNumber: page.value})"
		ng-class="pageIndex === page.value ? 'active' : ''"
		ng-disabled="page.disabled">{{page.label}}</button>
	<button type="button" class="btn btn-default" 
		ng-click="next()"
		ng-disabled="last === pageIndex + 1">
		<i class="fa fa-chevron-right"></i>
	</button>
</div>