[choice-key-value-list-string] {
    .arrows-group {
        margin-top: 60px;

        .arrows-links-group{
            margin-top: 10px

        }
        .arrow-link {
            cursor: pointer;
            font-size: 35px;
        }
    }
}
