<div class="row-content no-list-page">
    <div class="content-wrapper-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

                    <div class="paragraph-with-icon">
                        <i class="icon text-danger glyphicon glyphicon-exclamation-sign"></i>
                        <p class="paragraph middle font-x2">
                            You already have an account, please sign in using your existing account.
                        </p>
                    </div>

                    <p class="text-center">
                        <a href="#/event" class="btn btn-danger btn-lg">Back</a>
                        <a href="#/signin" class="btn btn-brand btn-lg">Sign In</a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>