<div class="modal-header">
    <h3 class="modal-title">Search</h3>
</div>
<div class="modal-body">
    <form name="form"
          class="form-horizontal"
          novalidate>
        <div class="form-group">
            <label for="backup_name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" id="backup_name" name="backup_name" class="form-control" ng-model="filter.name" />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default"
            type="button" ng-click="ok()">Search</button>
    <button class="btn btn-default"
            type="button" ng-click="cancel()">Cancel</button>
</div>
