<div class="widget-hd">
	<h3>{{vm.widget.metadata.name}}</h3>
	<h4>
		<span ng-if="vm.widget.metadata.description">{{vm.widget.metadata.description}}</span>
		<span ng-if="!vm.widget.metadata.description">Cube</span>
	</h4>
</div>
<div class="widget-bd">
	<!-- LOADING -->
	<div ng-if="vm.data.waiting && !vm.data.error" class="text-center callout-container">
		<div class="callout acs-widget-callout acs-widget-callout-loading">
			<i class="fa fa-spinner fa-pulse fa-3x" aria-hidden="true"></i>
			<h3>Loading...</h3>
		</div>			
	</div>
	<!-- ERROR -->
	<div ng-if="!vm.data.waiting && vm.data.error">
		<div class="callout acs-widget-callout acs-widget-callout-error">
			<h3><i class="fa fa-exclamation-circle fa-3x fa-fw" aria-hidden="true"></i> Whoops! Error occurred</h3>
			<p>Please contact your system administrator.</p>
		</div>
	</div>
	<div ng-if="!vm.data.waiting && !vm.data.error">
		<div class="viewport">
			<div class="cube" ng-style="{transform: vm.data.cubeModel.accelTransform}">
				<div class="side">
					<div class="cube-image">
						<img src="/widget-types/device-acceleration-cube-widget/assets/img/iot_v_fyo_black.png" class="img-responsive">
					</div>
					<span class="side-number text-center">1</span>
				</div>
				<div class="side">
					<div class="cube-image">
						<img src="/widget-types/device-acceleration-cube-widget/assets/img/arrow_worm_black.png" class="img-responsive">
					</div>
					<span class="side-number text-center">2</span>
				</div>
				<div class="side">
					<div class="cube-image">
						<img src="/widget-types/device-acceleration-cube-widget/assets/img/iot_v.png" class="img-responsive">
					</div>
					<span class="side-number text-center">3</span>
				</div>
				<div class="side">
					<div class="cube-image">
						<img src="/widget-types/device-acceleration-cube-widget/assets/img/arrow_worm_black_flipped_180.png" class="img-responsive">
					</div>
					<span class="side-number text-center">4</span>
				</div>
				<div class="side">
					<div class="cube-image">
						<img src="/widget-types/device-acceleration-cube-widget/assets/img/iot_v.png" class="img-responsive">
					</div>
					<span class="side-number text-center">5</span>
				</div>
				<div class="side">
					<div class="cube-image">
						<img src="/widget-types/device-acceleration-cube-widget/assets/img/iot_v_fyo_black_flipped_180.png" class="img-responsive">
					</div>
					<span class="side-number text-center">6</span>
				</div>
			</div>
		</div>
		<!--div class="accel-values text-center">
			<ul>
				<li><span class="name">X:</span> <span class="value">{{vm.data.cubeModel.accelX}}</span></li>
				<li><span class="name">Y:</span> <span class="value">{{vm.data.cubeModel.accelY}}</span></li>
				<li><span class="name">Z:</span> <span class="value">{{vm.data.cubeModel.accelZ}}</span></li>
			</ul>
		</div-->
	</div>
</div>