<div class="row-content">
    <!-- CONTENT WRAPPER -->
    <div class="content-wrapper-fluid">

		<div class="content-bd-wrapper">

	        <div class="content-bd">
		        <div class="row">
		            <div class="col-md-6">
		            	<br/>
		            	<br/>
		            	<br/>
		            	<br/>
		            	<br/>
						<div class="center-block" style="width: 50%;">
							<h1>HARDWARE</h1>
							<p>Add hardware manufacturers, products and versions to the catalog</p>
						</div>
					</div>
					<div class="col-md-6">
						<br/>
		            	<br/>
		            	<br/>
		            	<br/>
		            	<br/>
						<div class="center-block" style="width: 50%;">
							<h1>SOFTWARE</h1>
							<p>Add software vendors and products to the catalog. Upload software releases and associate them with hardware products and software version that you have defined in the catalog.</p>
						</div>
					</div>
		        </div>
		    </div>
		</div>
    </div>
</div>