<div class="content-wrapper not-found-page">
    <div class="content-bd">

        <div class="row">
            <div class="col-xs-5 text-right">
                <h1 class="not-found-code">404</h1>
            </div>
            <div class="col-xs-7">
                <p class="not-found-message">
                    <b>Error: {{vm.errorMessage}}</b>
                </p>
                <p class="not-found-message">Probably this page was removed or moved to other place</p>
            </div>
        </div>

    </div>
</div>