<div class="modal-header">
	<h3 class="modal-title">Delete Device</h3>
</div>
<form name="form" class="form-horizontal" >
	<div class="modal-body">
        <div class="form-group">
			<div class="row margin-left-seven">
			
				<div class="col-sm-12" >
					<p>Do you want to delete the device?</p>
				</div>
				<div class="col-sm-12">
					<button class='btn btn-default' ng-click = "deletedeviceFun()">Yes</button>&nbsp;
			    	<button class='btn btn-default' ng-click= "close()">No</button>
				</div>
			</div>
		</div>
	</div>
</form>
			