<div class="row-content">
	<div ng-controller="SoftwareController">
		<div class="obj-page-hd">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 col-sm-12 padding-zero">
						<div class="page-title">
							<h1>
								{{pageTitle}}
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="obj-page-bd">
			<div class="panel panel-default panel-content">
				<header class="b-panel-header">
					<i class="fa fa-table"></i> Selene Logs
				</header>
				<div class="b-panel-body">
					<label for="startDate" class="col-sm-2 fontsize-margin-top">Select Month & Year :</label>
					<div class="col-sm-2">
    					<input  name="startDate" id="startDate" ng-model="month" class="date-picker" />
					</div>
		            <div class="col-sm-2">
		            	<button class="btn btn-default" ng-click="getFileList(month)">Get File List</button>
		            	<a id="downloadTag" class="hidden"></a>
		            </div>
		            
					<div class="btn-group pull-right margin-bottom-thirty">
						<button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
							{{pageSize}} items per page <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li ng-class="pageSize === 10 ? 'dropdown-menu__item--active' : 'dropdown-menu__item'">
								<a href="" ng-click="changePageSize(10)" class="dropdown-menu__link">10</a>
							</li>
							<li ng-class="pageSize === 20 ? 'dropdown-menu__item--active' : 'dropdown-menu__item'">
								<a href="" ng-click="changePageSize(20)" class="dropdown-menu__link">20</a>
							</li>
							<li ng-class="pageSize === 50 ? 'dropdown-menu__item--active' : 'dropdown-menu__item'">
								<a href="" ng-click="changePageSize(50)" class="dropdown-menu__link">50</a>
							</li>
							<li ng-class="pageSize === 100 ? 'dropdown-menu__item--active' : 'dropdown-menu__item'">
								<a href="" ng-click="changePageSize(100)" class="dropdown-menu__link">100</a>
							</li>
							<li ng-class="pageSize === 200 ? 'dropdown-menu__item--active' : 'dropdown-menu__item'">
								<a href="" ng-click="changePageSize(200)" class="dropdown-menu__link">200</a>
							</li>
							<li ng-class="pageSize === 500 ? 'dropdown-menu__item--active' : 'dropdown-menu__item'">
								<a href="" ng-click="changePageSize(500)" class="dropdown-menu__link">500</a>
							</li>
						</ul>
					</div>
					<table class="table table-striped table-bordered table-layout-auto">
						<thead>
							<tr ng-if="!showSmallTable">
								<th class="text-center">Log Filename</th>
								<th class="text-center" colspan="2">Actions</th>
								
							</tr>
						</thead>
						<tbody>
							<tr ng-if="showSmallTable"
									ng-repeat="log in logs
											| startFrom:currentPage*pageSize
											| limitTo:pageSize">
								<td>
									<p ng-repeat="header in columnHeaders">
									<b>{{ header.label }}: </b>
									<span ng-switch="header.value">
										<span ng-switch-when="logfilename">{{header.value}}</span>
										<span ng-switch-when="Actions">{{header.value}}</span>
									</span>
									</p>
								</td>
							</tr>
							<tr ng-if="!showSmallTable"
									ng-repeat="log in logs
											| startFrom:currentPage*pageSize
											| limitTo:pageSize">
								<td ng-repeat="header in columnHeaders" ng-switch="header.value">
										<span ng-switch-when="logfilename">{{log}}</span>	
										<span ng-switch-when="view" ng-click="view(log)"><i class="fa fa-eye"></i></span>	
										<span ng-switch-when="download" ng-click="download(log)"><i class="fa fa-download"></i></span>									
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td class="hidden-xs" colspan="7">
									<div class="row">
										<div class="col-sm-6">
											Showing {{(currentPage*pageSize)+1}} to
											{{((currentPage+1)*pageSize <= logs.length ? (currentPage+1)*pageSize : logs.length)}}
											of {{logs.length}} Logs
										</div>
										<div class="col-sm-6 page-navigation-wrap">
											<arrow-pagination
													data-page-index="currentPage"
													data-total-pages="lastPage"
													data-first="firstPage"
													data-last="lastPage"
													data-previous="gotoPreviousPage()"
													data-next="gotoNextPage()"
													data-go="changeCurrentPage(pageNumber)"></arrow-pagination>
										</div>
									</div>
								</td>
								<td class="hidden-lg hidden-md hidden-sm" colspan="1">
									<div class="row">
										<div class="col-sm-6">
											Showing {{(currentPage*pageSize)+1}} to
											{{((currentPage+1)*pageSize <= logs.length ? (currentPage+1)*pageSize : logs.length)}}
											of {{logs.length}} Logs
										</div>
										<div class="col-sm-6">
											<arrow-pagination
													data-page-index="currentPage"
													data-total-pages="lastPage"
													data-first="firstPage"
													data-last="lastPage"
													data-previous="gotoPreviousPage()"
													data-next="gotoNextPage()"
													data-go="changeCurrentPage(pageNumber)">
											</arrow-pagination>
										</div>
									</div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class="obj-page-ft">
		</div>
	</div>
</div>