<div left-menu is-collapsed="menuIsCollapsed">
		<form>
			<h3>Show results for</h3>
			<br>
			<h4>Application</h4>
			<ul>
				<li>
					<div class="form-group">
						<label for="name">Name</label> 
						<input id="name" 
							type="text" 
							ng-model="sm.searchFilter.name" 
							ng-blur="onFilterBlur()" 
							placeholder="Application Name" 
							class="form-control">
					</div>
				</li>
				<li>
					<div class="form-group">
						<label for="code">Code</label> 
						<input id="code" 
							type="text" 
							ng-model="sm.searchFilter.code" 
							ng-blur="onFilterBlur()" 
							placeholder="Application Code" 
							class="form-control">
					</div>
				</li>
			</ul>
			<h4>Enabled</h4>
			<ul>
				<li ng-repeat="option in filters.enabledOptions">
					<input id="enabled_{{option.key}}" 
						name="enabled_{{option.key}}" 
						type="radio" 
						value="{{option.key}}" 
						ng-model="sm.searchFilter.enabled"
						ng-click="toggleEnabledOption(option)"> <label for="enabled_{{option.key}}">{{option.value}}</label>
				</li>
			</ul>
			<h4 ng-if="user.admin">Tenant</h4>
			<ul ng-if="user.admin">
				<li>
					<div class="form-group">
						<label for="name">Filter Tenants</label> 
						<input id="tenantOptionsFilter" 
							type="text" 
							ng-model="tenantOptionsFilter" 
							placeholder="Tenant Name"
							class="form-control">
					</div>
				</li>
				<li ng-repeat="option in filters.companyOptions | filter:{name: tenantOptionsFilter}">
					<input id="company_{{option.id}}" 
						name="company_{{option.id}}" 
						type="checkbox" 
						value="{{option.id}}" 
						ng-checked="hasCompanyOption(option)" 
						ng-click="toggleCompanyOption(option)" 
						checked="checked"> <label for="company_{{option.id}}">{{option.name}}</label>
				</li>
			</ul>
			<h4 ng-if="canReadSubscription() && user.admin">Subscription</h4>
			<ul ng-if="canReadSubscription() && user.admin">
				<li>
					<div class="form-group">
						<label for="name">Filter Subscriptions</label> 
						<input id="subscriptionOptionsFilter" 
							type="text" 
							ng-model="subscriptionOptionsFilter" 
							placeholder="Subscription Name"
							class="form-control">
					</div>
				</li>
				<li ng-repeat="option in filters.subscriptionOptions | filter:{name: subscriptionOptionsFilter}">
					<input id="subscription_{{option.id}}" 
						name="subscription_{{option.id}}" 
						type="checkbox" 
						value="{{option.id}}" 
						ng-checked="hasSubscriptionOption(option)" 
						ng-click="toggleSubscriptionOption(option)" 
						checked="checked"> <label for="subscription_{{option.id}}">{{option.name}}</label>
				</li>
			</ul>
			<h4 ng-if="canReadProduct() && user.admin">Product</h4>
			<ul ng-if="canReadProduct() && user.admin">
				<li ng-repeat="option in filters.productOptions">
					<input id="product_{{option.id}}" 
						name="product_{{option.id}}" 
						type="checkbox" 
						value="{{option.id}}" 
						ng-checked="hasProductOption(option)" 
						ng-click="toggleProductOption(option)" 
						checked="checked"> <label for="product_{{option.id}}">{{option.name}}</label>
				</li>
			</ul>
			<h4 ng-if="user.admin">API Signing Required</h4>
			<ul ng-if="user.admin">
				<li ng-repeat="option in filters.apiSigningRequiredOptions">
					<input id="apiSigningRequired_{{option}}" 
						name="apiSigningRequired_{{option}}" 
						type="checkbox" 
						value="{{option}}" 
						ng-checked="hasApiSigningRequiredOption(option)" 
						ng-click="toggleApiSigningRequiredOption(option)" 
						checked="checked"> <label for="apiSigningRequired_{{option}}">{{option}}</label>
				</li>
			</ul>
			<h4 ng-if="canReadRegion() && user.admin">Region</h4>
			<ul ng-if="canReadRegion() && user.admin">
				<li ng-repeat="option in filters.regionOptions">
					<input id="region_{{option.id}}" 
						name="region_{{option.id}}" 
						type="checkbox" 
						value="{{option.id}}" 
						ng-checked="hasRegionOption(option)" 
						ng-click="toggleRegionOption(option)" 
						checked="checked"> <label for="region_{{option.id}}">{{option.name}}</label>
				</li>
			</ul>
			<h4 ng-if="canReadZone() && user.admin && filters.zoneOptions.length > 0">Zone</h4>
			<ul ng-if="canReadZone() && user.admin && filters.zoneOptions.length > 0">
				<li ng-repeat="option in filters.zoneOptions">
					<input id="zone_{{option.id}}" 
						name="zone_{{option.id}}" 
						type="checkbox" 
						value="{{option.id}}" 
						ng-checked="hasZoneOption(option)" 
						ng-click="toggleZoneOption(option)" 
						checked="checked"> <label for="zone_{{option.id}}">{{option.name}}</label>
				</li>
			</ul>
		</form>
</div>

<div class="partial-page-content-container" ng-class="{'menu-collapsed': menuIsCollapsed}"
	ng-scrollbars ng-scrollbars-config="scrollerConfig">
	<div class="partial-page-content">
		<!-- BEGIN PAGE BREADCRUMB -->
		<ul class="page-breadcrumb breadcrumb">
		    <li>Provision</li>
		    <li class="active">Applications</li>
		</ul>
		<!-- END PAGE BREADCRUMB -->
		<!-- BEGIN MAIN CONTENT -->
		<div class="row">
		    <div class="col-md-12">
				<div class="panel panel-default panel-page">
					<div class="panel-heading">
					    <div class="row">
							<div class="col-md-8 col-sm-4">
								<arrow-items-per-page-dropdown
									data-items-per-page="pagination.itemsPerPage" 
									data-total-items="pagination.totalItems"
									data-change="changeItemsPerPage(numberOfItems)"></arrow-items-per-page-dropdown>
							</div>
							<div class="col-md-4 col-sm-8">
								<div class="table-group-actions pull-right">
			                        <span></span>
							        <!--div class="btn-group" role="group" aria-label="...">
										<button type="button" 
											class="btn btn-default"
											ng-class="{'active': sm.opinion == 'list'}"
											ng-click="changeOpinion('list')"><i class="fa fa-list" aria-hidden="true"></i> List</button>
										<button type="button" 
											class="btn btn-default"
											ng-class="{'active': sm.opinion == 'grid'}"
											ng-click="changeOpinion('grid')"><i class="fa fa-th" aria-hidden="true"></i> Grid</button>
									</div-->
							        <div class="btn-group" role="group" aria-label="...">
							        	<button type="button" 
							        		class="btn btn-default"
								        	ng-if="canCreateApplication()"
											ng-click="add()"><i class="fa fa-asterisk" aria-hidden="true"></i> New</button>
							        </div>
			                    </div>
							</div>
					    </div>
					</div>
					<div class="panel-body">
					
						<table class="table table-striped table-bordered table-hover dataTable table-ellipsis"
							ng-if="sm.opinion == 'list'">
							<thead>
								<tr class="heading">
									<th ng-repeat="header in columnHeaders" 
										arrow-column-header 
										label="header.label" 
										value="header.value" 
										sort-field="pagination.sort.property" 
										sort-direction="pagination.sort.direction" 
										sortable="header.sortable"
										sort="sortColumn(column)"
										ng-if="header.value != 'pendingVaultLogin' || (header.value == 'pendingVaultLogin' && user.admin)">
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in pagination.content">
									<td>
										<span ng-if="canReadApplication() ">
											<a ui-sref="application.information({applicationId: '{{item.id}}'})">{{item.name}}</a>
										</span>
										<span ng-if="!canReadApplication()">
											{{item.name}}
										</span>
									</td>
									<td>{{item.description}}</td>
									<td>{{item.code}}</td>
									<td>{{item.productName}}</td>
									<td>
										<span ng-repeat="productExtensionName in item.productExtensionNames">{{productExtensionName}}<span>,</span>&nbsp;</span>
									</td>
									<td>
										<span ng-repeat="productFeatureName in item.productFeatureNames">{{productFeatureName}}<span>,</span>&nbsp;</span>
									</td>
									<td>{{item.companyName}}</td>
									<td>{{item.enabled ? 'Yes' : 'No'}}</td>
									<td>{{item.regionName}} / {{item.zoneName}}</td>
									<td>{{item.apiSigningRequired}}</td>
									<td ng-if="user.admin">{{item.pendingVaultLogin ? 'Yes' : 'No'}}</td>
								</tr>
							</tbody>
						</table>
						
						<div ng-if="sm.opinion == 'grid'">GRID</div>
					
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-8 col-sm-12">
								<arrow-showing-items 
									data-page-index="pagination.pageIndex"
									data-items-per-page="pagination.itemsPerPage" 
									data-total-items="pagination.totalItems"
									data-topic="application"
									data-topic-plural="applications"></arrow-showing-items>
							</div>
							<div class="col-md-4 col-sm-12">
								<arrow-pagination 
									data-page-index="pagination.pageIndex"
									data-total-pages="pagination.totalPages"
									data-first="pagination.first" 
									data-last="pagination.last"
									data-previous="previousPage()"
									data-next="nextPage()"
									data-go="gotoPage(pageNumber)"></arrow-pagination>
							</div>
						</div>
					</div>
				</div>

		    </div>
		</div>
	</div>
</div>