<div class="row-content no-list-page" ng-controller="ChangePasswordController">
    <!-- CONTENT WRAPPER -->
    <div class="content-wrapper-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                    <form name="changePasswordForm" class="form-horizontal" novalidate ng-submit="save(changePasswordForm);">

                        <div class="panel-arrow panel-login">
                            <div class="hd">
                                <h3 class="title">Change Password</h3>
                            </div>
                            <div class="bd">
                                <div class="bd-wrapper">
                                    <div class="alert alert-danger" role="alert" ng-repeat="alertMessage in alertMessages">
                                        {{alertMessage}}
                                    </div>
                                    <fieldset ng-disabled="changePasswordLoading">
                                        <div class="form-group">
                                            <label for="currentPassword" class="col-sm-3 control-label">Current Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="currentPassword" required="required" />
                                            </div>
                                            <div class="col-sm-offset-3 col-sm-9" ng-messages="changePasswordForm.currentPassword.$error" role="alert">
                                                <div class="alert-danger">
                                                    <div ng-messages-include="scripts/kronos/tpl/form-validation-messages.html"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="newPwd" class="col-sm-3 control-label">New Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" id="newPwd" name="newPwd" class="form-control" ng-model="newPassword" password-policy="passwordPolicy" />
                                            </div>
                                            <div class="col-sm-offset-3 col-sm-9" ng-messages="changePasswordForm.newPwd.$error" role="alert">
                                                <div class="alert-danger">
                                                    <div ng-message="minLength, maxLength">Password must be between {{passwordPolicy.minLength}} and {{passwordPolicy.maxLength}} characters long</div>
                                                    <div ng-message="minLowerCase">Password must have minimum {{passwordPolicy.minLowerCase}} lower case letter(s)</div>
                                                    <div ng-message="minUpperCase">Password must have minimum {{passwordPolicy.minUpperCase}} upper case letter(s)</div>
                                                    <div ng-message="minDigit">Password must have minimum {{passwordPolicy.minDigit}} digit(s)</div>
                                                    <div ng-message="minSpecial">Password must have minimum {{passwordPolicy.minSpecial}} special character(s): {{passwordPolicy.specialCharacters}}</div>
                                                    <div ng-message="allowWhitespace">Password must not have a space character</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="confirmPwd" class="col-sm-3 control-label">Confirm New Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" id="confirmPwd" name="confirmPwd" class="form-control" ng-model="newPasswordConfirm" equals="newPassword" />
                                            </div>
                                            <div class="col-sm-offset-3 col-sm-9" ng-messages="changePasswordForm.confirmPwd.$error" role="alert" ng-show="changePasswordForm.newPwd.$valid">
                                                <div class="alert-danger">
                                                    <div ng-message="equals">Passwords do not match</div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="ft">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-brand pull-right" ladda-button="changePasswordLoading" data-style="expand-left" type="submit">
                                            <span class="ladda-label">{{ !changePasswordLoading ? 'Change password' : 'Changing password' }}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /CONTENT WRAPPER -->
</div>