<div class="row-content no-list-page" ng-controller="ForgotPasswordController">
    <!-- CONTENT WRAPPER -->
    <div class="content-wrapper-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                    <form name="forgotPasswordForm" class="form-horizontal" novalidate ng-submit="save(forgotPasswordForm);">
                        <div class="panel-arrow panel-login">
                            <div class="hd">
                                <h3 class="title">Forgot Password</h3>
                            </div>
                            <div class="bd">
                                <div class="bd-wrapper">
                                    <div class="alert alert-warning" role="alert">
                                        Enter your login to reset password. You will receive an email with a temporary password. You will be required to change the temporary password after the first login.
                                    </div>
                                    <div class="alert alert-danger" role="alert" ng-if="!!errorMessage">
                                        {{errorMessage}}
                                    </div>
                                    <div class="form-group">
                                        <label for="login" class="col-sm-3 control-label">Login</label>
                                        <div class="col-sm-9">
                                            <input type="text" id="login" name="login" class="form-control" ng-disabled="resetPasswordLoading" ng-model="login" required="required" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ft">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <span class="splitted-links">
											<a href="#/signin">Back to Sign in</a>
                                        </span>
                                        <button class="btn btn-brand pull-right" ladda-button="resetPasswordLoading" data-style="expand-left" type="submit">
                                            <span class="ladda-label">{{ !resetPasswordLoading ? 'Reset password' : 'Resetting password' }}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /CONTENT WRAPPER -->
</div>