<style>
body > .container-partial {
	padding-top: 100px;
    height: auto;
    overflow: visible;
}
nav, footer {
	display: none;
}
</style>
    <div class="container" id="changePasswordpage" ng-controller="ChangePasswordController">
        <form name="form" class="" role="form" novalidate ng-submit="save(form);">
          <div class="panel-login row">
			<div class="login-left col-xs-12 col-sm-12 col-md-5 col-lg-5">
				<h1>apollo</h1>
				<h2>dashboards</h2>
			</div>
			<div class="login-bd col-xs-12 col-sm-12 col-md-7 col-lg-7">
				<div class="hd">
					<h3 class="title">Change Password</h3>
	                    <div class="alert-msg" role="alert"><span></span>You are required to change your password</div>
	                    <div class="cp-input-wrapper">
	                        <div class="form-group" ng-class="{ 'has-error': form.currentPassword.$touched && form.currentPassword.$invalid, 'has-success': form.currentPassword.$touched && !form.currentPassword.$invalid }">
	                            <label for="username">Current Password*</label>
	                            <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="currentPassword" required/>
	                            <div class="help-block" ng-messages="form.currentPassword.$error" ng-show="form.currentPassword.$touched">
	                                <p ng-message="required" class="alert alert-danger">This field is required</p>
                               </div>
	                        </div>
	                        <div class="form-group">
	                            <label for="username">New Password*</label>
	                            <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="newPassword" password-policy="passwordPolicy" required/>
	                            <div class="help-block" ng-messages="form.newPassword.$error" ng-show="form.newPassword.$touched">
	                                <p ng-message="required" class="alert alert-danger">This field is required</p>
	                                <p ng-message="minLength, maxLength" class="alert alert-danger">Password must be between {{passwordPolicy.minLength}} and {{passwordPolicy.maxLength}} characters long</p>
	                                <p ng-message="minLowerCase" class="alert alert-danger">Password must have minimum  {{passwordPolicy.minLowerCase}} lower case letter(s)</p>
	                                <p ng-message="minUpperCase" class="alert alert-danger">Password must have minimum  {{passwordPolicy.minUpperCase}} upper case letter(s)</p>
	                                <p ng-message="minDigit" class="alert alert-danger">Password must have minimum  {{passwordPolicy.minDigit}} digit(s)</p>
	                                <p ng-message="minSpecial" class="alert alert-danger">Password must have minimum  {{passwordPolicy.minSpecial}} special character(s)</p>
	                                <p ng-message="allowWhitespace" class="alert alert-danger">Password must not have a space character</p>
                            </div>
	                        </div>
	                        <div class="form-group">
	                            <label for="username">Confirm New Password*</label>
	                            <input type="password" id="newPasswordConfirm" name="newPasswordConfirm" class="form-control" ng-model="newPasswordConfirm" equals="newPassword" required />
	                            <div class="help-block" ng-messages="form.newPasswordConfirm.$error" ng-show="form.newPasswordConfirm.$touched">
	                                <p ng-message="equals" class="alert alert-danger">Passwords do not match</p>
	                                <p ng-message="required" class="alert alert-danger">This field is required</p>
                                </div>
	                        </div>
	                        <div class="ft">
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10 nopadding apollo-button-container">
				                            <button type="submit" ng-disabled="busy" class="btn" ng-disabled="busy || form.$pristine">Change Password</button>
				                       </div>
				                    </div>
			                    </div>
                				</div>                
            				</div>
             		</div>
             		<div class="login-ft text-center col-sm-offset-0 col-xs-offset-0 col-md-offset-5 col-lg-offset-5 col-xs-12 col-sm-12 col-md-7 col-lg-7">
						© 2017 Arrow Electronics, Inc. All rights reserved
					</div>
             	</div>
        </form>
    </div>