<style>
body > .container-partial {
	padding-top: 100px;
    height: auto;
    overflow: visible;
}
nav, footer {display: none}
</style>

<div class="container"
	ng-controller="ForgotPasswordController">
	<form id="forgotPassword"
		class=""
		ng-submit="getUserAutheticationType(credentials.username)">
		<div class="panel-login row">
			<div class="login-left col-xs-12 col-sm-12 col-md-5 col-lg-5">
				<h1>apollo</h1>
				<h2>dashboards</h2>
			</div>
			<div ng-show="forgotpasswddiv" class="login-bd col-xs-12 col-sm-12 col-md-7 col-lg-7">
				<div class="hd">
					<h3 class="title">Forgot Password</h3>
					<div ng-show="errorMessage"
						class="alert alert-danger" role="alert">{{validUserMessage}}</div>
				</div>
				<div class="bd">
					<div class="bd-wrapper">
						<div class="form-group">
						    <label for="username">Username</label>
						      <input id="username"
						      	type="text"
						      	class="form-control"
						      	ng-model="credentials.username">
						</div>
						
					</div>
				</div>
				<div class="ft">
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10 nopadding apollo-button-container">
							<!-- <button type="reset" class="btn btn-link">Cancel</button> -->
							<button type="submit" ng-disabled="loginBtnDisabled"
								class="btn">Submit</button>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div ng-show="emailSucccessdiv" class="login-bd col-xs-12 col-sm-12 col-md-7 col-lg-7">
				<h3 class="title">Password Reset - Email Sent</h3>
				Password reset successful. 
				An email with temporary password has been sent to your registered email address. 
				Please check your email and use the temporary password to login.
				You will need to change the password upon first login.
				<div class="col-sm-offset-2 col-sm-10 nopadding apollo-button-container">
					<a class="btn" ng-href="/#/signin">Login</a>
				</div>
			</div>
			<div ng-show="emailFailurediv" class="login-bd col-xs-12 col-sm-12 col-md-7 col-lg-7">
				<h2>Password Reset - Failure</h2>
				There is a issue in resetting the password. Please contact your system administrator
			</div>
			<div class="login-ft text-center col-sm-offset-0 col-xs-offset-0 col-md-offset-5 col-lg-offset-5 col-xs-12 col-sm-12 col-md-7 col-lg-7">
				© 2017 Arrow Electronics, Inc. All rights reserved
			</div>
		</div>
	</form>
</div>