<div class="row-content">
    <!-- CONTENT WRAPPER -->
    <div class="content-wrapper-fluid">

        <div class="content-hd">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="content-title">
                        <h1>{{vm.pageTitle}}</h1>
                        <br/><span>{{vm.pageSubTitle}}</span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 text-right">
                    <div class="content-toolbar flex-row-end">
                        <button type="button"
                                ng-repeat="button in vm.toolbar"
                                class="btn btn-default"
                                ng-click="button.onClick()"><i ng-class="button.icon"></i> {{button.caption}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTENT BODY WRAPPER -->
        <div class="content-bd-wrapper">
            <!--  CONTENT BODY -->
            <div class="content-bd" ng-include="'partials/list/panel.html'"></div>
            <!-- /CONTENT BODY -->
        </div>
        <!-- /CONTENT BODY WRAPPER -->
    </div>
    <!-- /CONTENT WRAPPER -->
</div>
