<div class="modal-header">
    <h3 class="modal-title">Search</h3>
</div>
<div class="modal-body">
    <form name="form"
        class="form-horizontal"
        novalidate>
        <div class="form-group">
            <label for="filterNodeTypeIds"
                class="col-sm-2 control-label">Group&nbsp;Types <span class="label label-default">{{filter.nodeTypeIds.length}}</span></label>
            <div class="col-sm-10">
                <select id="filterNodeTypeIds"
                    class="form-control"
                    size="4"
                    multiple
                    ng-model="filter.nodeTypeIds"
                    ng-options="nodeType.id as nodeType.name for nodeType in filterOptions.nodeTypes">
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox col-sm-12">
              <label class="radio-inline">
                <input type="radio" ng-model="filter.enabled" ng-value="null"> Enabled and Disabled
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="filter.enabled" ng-value="true"> Enabled only
              </label>
              <label class="radio-inline">
                <input type="radio" ng-model="filter.enabled" ng-value="false"> Disabled only
              </label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default"
        type="button" ng-click="ok()">Search</button>
    <button class="btn btn-default"
        type="button" ng-click="cancel()">Cancel</button>
</div>
