<div class="page-container">
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<!-- BEGIN PAGE CONTENT BODY -->
		<div class="page-content">
			<div class="container">
				<div class="login">
					<!-- BEGIN LOGIN -->
					<div class="content">
						<!-- BEGIN LOGIN FORM -->
						<form class="forgot-password-form"
							data-ng-submit="send(form)">
							<div class="panel panel-default panel-login">
								<div class="panel-heading">
									<h3 class="panel-title">Forgot password</h3>
								</div>
								<div class="panel-body">
									<div class="alert alert-warning" role="alert">
										Enter your login to reset password. You will receive an email with a temporary password. You will be required to change the temporary password after the first login.
									</div>
									<div class="form-group">
										<label class="control-label"></label>
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input class="form-control placeholder-no-fix"
												type="text"
												autocomplete="off"
												placeholder="Login"
												name="username"
												required
												data-ng-model="form.login" />
										</div>
									</div>
								</div>
								<div class="panel-footer text-right">
									<button type="submit" ng-disabled="busy" class="btn btn-default">Reset Password</button>
								</div>
							</div>
						</form>
						<!-- END LOGIN FORM -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>