<div ng-show="isAuthorized" left-menu is-collapsed="menuIsCollapsed">
</div>

<div class="partial-page-content-container" ng-class="{'menu-collapsed': menuIsCollapsed || !isAuthorized}"
     ng-scrollbars ng-scrollbars-config="scrollerConfig">

    <!-- CONTENT WRAPPER -->
    <div class="partial-page-content">

        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li class="active">Change Password</li>
        </ul>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="actions"></div>
                    </div>
                    <div class="portlet-body form">
                        <form name="form"
                              class="form-horizontal"
                              role="form"
                              novalidate
                              ng-submit="save(form);">

                            <!-- CONTENT BODY WRAPPER -->
                            <div class="form-body">
                                <div class="form-group"
                                     ng-class="{ 'has-error': form.currentPassword.$touched && form.currentPassword.$invalid, 'has-success': form.currentPassword.$touched && !form.currentPassword.$invalid }">
                                    <label for="currentPassword" class="col-md-3 control-label">
                                        Current Password
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <div class="input-icon right">
                                            <input
                                                    type="password"
                                                    id="currentPassword"
                                                    name="currentPassword"
                                                    class="form-control"
                                                    ng-model="currentPassword"
                                                    required="required"/>
                                        </div>
                                        <div class="help-block" ng-messages="form.currentPassword.$error" ng-show="form.currentPassword.$touched">
                                            <div ng-messages-include="scripts/pegasus/tpl/form-validation-messages.html"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newPassword" class="col-sm-3 control-label">
                                        New Password
                                        <span class="required" aria-required="true"> * </span>
                                    </label>

                                    <div class="col-sm-9">
                                        <div class="input-icon right">
                                            <input type="password" id="newPassword" name="newPassword" class="form-control"
                                                   ng-model="newPassword" password-policy="passwordPolicy" required="required"/>
                                        </div>
                                        <div class="help-block" ng-messages="form.newPassword.$error" ng-show="form.newPassword.$touched">
                                            <div ng-message="minLength, maxLength">Password must be between {{passwordPolicy.minLength}} and {{passwordPolicy.maxLength}} characters long</div>
                                            <div ng-message="minLowerCase">Password must have minimum  {{passwordPolicy.minLowerCase}} lower case letter(s)</div>
                                            <div ng-message="minUpperCase">Password must have minimum  {{passwordPolicy.minUpperCase}} upper case letter(s)</div>
                                            <div ng-message="minDigit">Password must have minimum  {{passwordPolicy.minDigit}} digit(s)</div>
                                            <div ng-message="minSpecial">Password must have minimum  {{passwordPolicy.minSpecial}} special character(s)</div>
                                            <div ng-message="allowWhitespace">Password must not have a space character</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newPasswordConfirm" class="col-sm-3 control-label">
                                        Confirm New Password
                                        <span class="required" aria-required="true"> * </span>
                                    </label>
                                    <div class="col-sm-9">
                                        <div class="input-icon right">
                                            <input type="password" id="newPasswordConfirm" name="newPasswordConfirm"
                                                   class="form-control" ng-model="newPasswordConfirm"
                                                   equals="newPassword"/>
                                        </div>
                                        <div class="help-block" ng-messages="form.newPasswordConfirm.$error" ng-show="form.newPasswordConfirm.$touched">
                                            <div ng-message="equals">Passwords do not match</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-action">
                                <div class="col-md-offset-3 col-md-9">
                                    <div class="row">
                                        <button class="btn green" ng-disabled="busy || form.$pristine" type="submit">
                                            Change password
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /CONTENT BODY WRAPPER -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /CONTENT WRAPPER -->
</div>
