<div class="modal-header">
    <h3 class="modal-title">{{loading ? '' : accessKey.id ? 'Edit' : 'Add'}} Access Key</h3>
</div>
<form name="accessKeyForm"
    class="form-horizontal"
    novalidate
    ng-submit="save(accessKeyForm);">
    <div class="modal-body">
        <div class="form-group">
            <label for="accessKeyName" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
                <p class="form-control-static" ng-if="!canSave">{{accessKey.name}}</p>
                <input id="accessKeyName" name="accessKeyName" class="form-control" ng-model="accessKey.name" required ng-if="canSave" />
            </div>
            <div class="col-sm-offset-3 col-sm-9" ng-messages="accessKeyForm.accessKeyName.$error" role="alert">
                <div class="alert-danger">
                    <span ng-message="required">Name is required</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-xs-12 control-label">Expiration Date</label>
            <div class="dropdown col-sm-9" ng-if="!canSave">
                <p class="form-control-static">{{accessKey.expirationDate | amDateFormat:'MM/DD/YYYY hh:mm:ss A'}}</p>
            </div>
            <div class="dropdown col-sm-7 col-xs-9" ng-if="canSave">
                <a class="dropdown-toggle" id="expirationDateDropdown" role="button" data-toggle="dropdown" data-target="#">
                    <div class="input-group">
                        <input type="text" name="expirationDate" class="form-control" data-ng-model="accessKey.expirationDate"
                            data-date-time-input="MM/DD/YYYY hh:mm:ss A" required date-required />
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="accessKey.expirationDate"
                        data-datetimepicker-config="{ dropdownSelector: '#expirationDateDropdown' }">
                    </datetimepicker>
                </ul>
            </div>
            <div class="col-sm-2 col-xs-3" ng-if="canSave">
                <button type="button" class="btn btn-danger pull-right" ng-click="expireNow()">Expire Now</button>
            </div>
            <div class="col-sm-offset-3 col-sm-7 col-xs-9" ng-messages="accessKeyForm.expirationDate.$error" role="alert">
                <div class="alert-danger">
                    <div ng-messages-include="scripts/kronos/tpl/form-validation-messages.html"></div>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="accessKey.id">
            <label for="rawApiKey" class="col-sm-3 control-label">Raw Api Key</label>
            <div class="col-sm-9">
                <textarea id="rawApiKey" name="rawApiKey" class="form-control" ng-model="accessKey.rawApiKey" readonly></textarea>
            </div>
        </div>
        <div class="form-group" ng-if="accessKey.id">
            <label for="rawSecretKey" class="col-sm-3 control-label">Raw Secret Key</label>
            <div class="col-sm-9">
                <textarea id="rawSecretKey" name="rawSecretKey" class="form-control" ng-model="accessKey.rawSecretKey" readonly></textarea>
            </div>
        </div>
        <div class="form-group" ng-if="accessKey.id">
            <label for="aes256ApiKey" class="col-sm-3 control-label">Selene AES-256 Api Key</label>
            <div class="col-sm-9">
                <textarea id="aes256ApiKey" name="aes256ApiKey" class="form-control" ng-model="accessKey.aes256ApiKey" readonly></textarea>
            </div>
        </div>
        <div class="form-group" ng-if="accessKey.id">
            <label for="aes256SecretKey" class="col-sm-3 control-label">Selene AES-256 Secret Key</label>
            <div class="col-sm-9">
                <textarea id="aes256SecretKey" name="aes256SecretKey" class="form-control" ng-model="accessKey.aes256SecretKey" readonly></textarea>
            </div>
        </div>
        <div class="form-group" ng-if="accessKey.id">
            <label for="aes128ApiKey" class="col-sm-3 control-label">Selene AES-128 Api Key</label>
            <div class="col-sm-9">
                <textarea id="aes128ApiKey" name="aes128ApiKey" class="form-control" ng-model="accessKey.aes128ApiKey" readonly></textarea>
            </div>
        </div>
        <div class="form-group" ng-if="accessKey.id">
            <label for="aes128SecretKey" class="col-sm-3 control-label">Selene AES-128 Secret Key</label>
            <div class="col-sm-9">
                <textarea id="aes128SecretKey" name="aes128SecretKey" class="form-control" ng-model="accessKey.aes128SecretKey" readonly></textarea>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0;">
            <div class="col-sm-12">
                <div class="panel panel-default" style="margin-bottom: 0;">
                    <div class="panel-heading">
                        Privileges
                        <!-- <button type="button" class="btn btn-primary obj-btn-add-row"
                            ng-click="addPrivilege()" ng-if="canSave">Add</button> -->
                    </div>
                    <div class="scrollable-table" ng-show="accessKey.privileges.length>0">
                        <table class="table table-striped table-bordered">
                            <thead class="hidden-xs">
                                <tr>
                                    <th>Level</th>
                                    <th>PRI</th>
                                    <th>Name</th>
                                    <th ng-if="canSave">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="privilege in accessKey.privileges track by $index">
                                    <td class="hidden-xs" ng-if="editing[$index] == null">{{privilege.level}}</td>
                                    <td class="hidden-xs" ng-if="editing[$index] != null">
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="privilege.level" value="READ"> READ
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" ng-model="privilege.level" value="WRITE"> WRITE
                                        </label>
                                    <td class="hidden-xs" ng-if="editing[$index] == null">{{privilege.pri}}</td>
                                    <td class="hidden-xs" ng-if="editing[$index] == null">{{getObjectName(privilege)}}</td>
                                    <td class="hidden-xs" ng-if="editing[$index] != null" colspan="2">
                                        <div>
                                          <label class="radio-inline">
                                            <input type="radio" ng-checked="isNode($index)" ng-click="selectNode($index)"> Group
                                          </label>
                                          <label class="radio-inline">
                                            <input type="radio" ng-checked="isGateway($index)" ng-click="selectGateway($index)"> Gateway
                                          </label>
                                          <label class="radio-inline">
                                            <input type="radio" ng-checked="isDevice($index)" ng-click="selectDevice($index)"> Device
                                          </label>
                                        </div>
                                        <div>
                                            <select class="	selectpicker customSelect" style="height:35px;width:100%" ng-if="isNode($index)" ng-model="privilege.node" ng-options="node.name for node in options.nodes track by node.id" ng-change="onNodeSelected(privilege)"></select>
                                            <select class="	selectpicker customSelect" style="height:35px;width:100%" ng-if="isGateway($index)" ng-model="privilege.gateway" ng-options="gateway.name for gateway in options.gateways track by gateway.id" ng-change="onGatewaySelected(privilege)"></select>
                                            <select class="	selectpicker customSelect" style="height:35px;width:100%" ng-if="isDevice($index)" ng-model="privilege.device" ng-options="device.name for device in options.devices track by device.id" ng-change="onDeviceSelected(privilege)"></select>
                                        </div>
                                    </td>
                                    <td class="hidden-xs" ng-if="canSave">
                                        <button type="button" class="btn btn-link col-sm-12 col-md-6" ng-if="!isOwner(privilege)" ng-click="editPrivilege($index)">{{editing[$index] != null ? 'Done' : 'Edit'}}</button>
                                        <button type="button" class="btn btn-link col-sm-12 col-md-6" ng-if="!isOwner(privilege)" ng-click="deletePrivilege($index)">Delete</button>
                                    </td>
                                    <!-- FOR MOBILE VIEW -->
                                    <td class="hidden-sm hidden-md hidden-lg">
                                        <div ng-if="editing[$index] == null"><b>Level:</b> {{privilege.level}}</div>
                                        <div ng-if="editing[$index] != null">
                                            <b>Level:</b>
                                            <label class="radio-inline">
                                                <input type="radio" ng-model="privilege.level" value="READ"> READ
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" ng-model="privilege.level" value="WRITE"> WRITE
                                            </label>
                                        </div>
                                        <div ng-if="editing[$index] == null"><b>PRI:</b> {{privilege.pri}}</div>
                                        <div ng-if="editing[$index] == null"><b>Name:</b> {{getObjectName(privilege)}}</div>
                                        <div ng-if="editing[$index] != null">
                                            <div>
                                              <label class="radio-inline">
                                                <input type="radio" ng-checked="isNode($index)" ng-click="selectNode($index)"> Group
                                              </label>
                                              <label class="radio-inline">
                                                <input type="radio" ng-checked="isGateway($index)" ng-click="selectGateway($index)"> Gateway
                                              </label>
                                              <label class="radio-inline">
                                                <input type="radio" ng-checked="isDevice($index)" ng-click="selectDevice($index)"> Device
                                              </label>
                                            </div>
                                            <div>
                                                <select class="customSelect" style="width:100%" ng-if="isNode($index)" ng-model="privilege.node" ng-options="node.name for node in options.nodes track by node.id" ng-change="onNodeSelected(privilege)"></select>
                                                <select class="customSelect" style="width:100%" ng-if="isGateway($index)" ng-model="privilege.gateway" ng-options="gateway.name for gateway in options.gateways track by gateway.id" ng-change="onGatewaySelected(privilege)"></select>
                                                <select class="customSelect" style="width:100%" ng-if="isDevice($index)" ng-model="privilege.device" ng-options="device.name for device in options.devices track by device.id" ng-change="onDeviceSelected(privilege)"></select>
                                            </div>
                                        </div>
                                        <div class="text-center margin-top-20" ng-if="canSave">
                                            <button type="button" class="btn btn-link col-sm-12 col-md-6" ng-if="!isOwner(privilege)" ng-click="editPrivilege($index)">{{editing[$index] != null ? 'Done' : 'Edit'}}</button>
                                            <button type="button" class="btn btn-link" ng-if="!isOwner(privilege)" ng-click="deletePrivilege($index)">Delete</button>
                                        </div>
                                    </td>
                                    <!-- /FOR MOBILE VIEW -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
       <!--  <button class="btn btn-default"
            type="submit" ng-if="canSave">Save</button> -->
        <button class="btn btn-default"
            type="button" ng-click="cancel()">Close</button>
    </div>
</form>
