<div class="modal-header modal-header-with-tabs">
    <ul class="nav nav-pills nav-justified">
        <li role="presentation" ng-class="{active: activeTab == 0}"><a href ng-click="activeTab = 0">Device Type</a></li>
        <li role="presentation" ng-class="{active: activeTab == 1}"><a href ng-click="activeTab = 1">Telemetry</a></li>
        <li role="presentation" ng-class="{active: activeTab == 2}"><a href ng-click="activeTab = 2">Device State</a></li>
        <li role="presentation" ng-class="{active: activeTab == 3}"><a href ng-click="activeTab = 3">Firmware Management</a></li>
    </ul>
</div>

<form name="deviceTypeForm" novalidate ng-submit="save(deviceTypeForm);">
    <div class="modal-body">

        <div ng-show="activeTab == 0">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="deviceTypeName">Name</label>
                    <p class="form-control-static" ng-if="!canSaveDeviceType">{{deviceType.name}}</p>
                    <input type="text" id="deviceTypeName" name="deviceTypeName" class="form-control" ng-if="canSaveDeviceType" ng-model="deviceType.name" required="required" minlength="3" maxlength="100" />
                    <div ng-messages="deviceTypeForm.deviceTypeName.$error" role="alert">
                        <div class="alert-danger">
                            <span ng-message="required">Name is required</span>
                            <span ng-message="minlength, maxlength">Name must be between 3 and 100 characters long</span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <label for="deviceTypeDescription">Description</label>
                    <p class="form-control-static" ng-if="!canSaveDeviceType">{{deviceType.description}}</p>
                    <textarea id="deviceTypeDescription" name="deviceTypeDescription" class="form-control" rows="3" ng-if="canSaveDeviceType" ng-model="deviceType.description" required="required" minlength="3" maxlength="1000"></textarea>
                    <div ng-messages="deviceTypeForm.deviceTypeDescription.$error" role="alert">
                        <div class="alert-danger">
                            <span ng-message="required">Description is required</span>
                            <span ng-message="maxlength">Description must be maximum 1000 characters long</span>
                        </div>
                    </div>
                </div>
                
                <div class="form-group col-sm-12">
                    <label for="category">Device Category</label>
                    <select id="category" name="category" class="form-control customSelect"
                        ng-model="deviceType.deviceCategory"
                        ng-options="category as category for category in options.deviceCategories"
                        ng-disabled="options.deviceCategories == null">
                        <option value="">Select Device Category</option>
                    </select>
                    <div ng-messages="deviceTypeForm.category.$error" role="alert">
                        <div class="alert-danger">
                            <div ng-messages-include="scripts/kronos/tpl/form-validation-messages.html"></div>
                        </div>
                    </div>
                </div>                
                
                <div class="form-group col-sm-12" ng-if="!canSaveDeviceType">
                    <label>
                        Enabled: {{deviceType.enabled}}
                        <span>(Number of Devices: {{deviceType.numDevices}})</span>
                    </label>
                </div>
                <div ng-if="canSaveDeviceType" class="checkbox col-sm-12">
                    <label>
                        <input type="checkbox" value="" ng-model="deviceType.enabled" />
                        Enabled
                        <span>(Number of Devices: {{deviceType.numDevices}})</span>
                    </label>
                </div>
            </div>
        </div>

        <div ng-show="activeTab == 1">
            <div class="row">
                <div class="form-group col-sm-12" style="margin-bottom: 0;">
                    <div class="row">
                        <div class="col-xs-8">
                            <h4 style="margin-top: 0;">Telemetries Definitions</h4>
                        </div>
                        <div class="col-xs-4">
                            <button type="button" class="btn btn-primary obj-btn-add-row" ng-if="canSaveDeviceType" ng-click="add(deviceType.telemetries)">Add</button>
                        </div>
                    </div>
                    <div class="scrollable-table device-type-details-table" ng-show="deviceType.telemetries.length>0" style="min-height: 250px;">
                        <table class="table table-striped table-bordered" style="table-layout: fixed;">
                            <thead class="hidden-xs">
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Unit</th>
                                    <th>Controllable</th>
                                    <th ng-if="canSaveDeviceType">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="telemetry in deviceType.telemetries track by $index">
                                    <td class="hidden-xs" ng-if="!telemetry.editing">{{telemetry.name}}</td>
                                    <td class="hidden-xs" ng-if="telemetry.editing">
                                        <input type="text" name="{{'telemetry'+$index+'Name'}}" class="form-control" ng-model="telemetry.name" required minlength="3" maxlength="100" />
                                        <div class="alert-danger" ng-messages="deviceTypeForm['telemetry'+$index+'Name'].$error" role="alert">
                                            <span ng-message="required">Name is required</span>
                                            <span ng-message="minlength, maxlength">Name must be between 3 and 100 characters long</span>
                                        </div>
                                    </td>
                                    <td class="hidden-xs" ng-if="!telemetry.editing">{{telemetry.description}}</td>
                                    <td class="hidden-xs" ng-if="telemetry.editing">
                                        <input type="text" name="{{'telemetry'+$index+'Description'}}" class="form-control" ng-model="telemetry.description" maxlength="1000" />
                                        <div class="alert-danger" ng-messages="deviceTypeForm['telemetry'+$index+'Description'].$error" role="alert">
                                            <span ng-message="maxlength">Description must be maximum 1000 characters long</span>
                                        </div>
                                    </td>
                                    <td class="hidden-xs" ng-if="!telemetry.editing">{{telemetry.type}}</td>
                                    <td class="hidden-xs" ng-if="telemetry.editing"><select class="form-control customSelect" ng-model="telemetry.type" ng-options="type for type in options.telemetryTypes"></select></td>
                                    <td class="hidden-xs" ng-if="!telemetry.editing">{{getTelemetryUnitName(telemetry)}}</td>
                                    <td class="hidden-xs" ng-if="telemetry.editing">
                                        <select class="form-control customSelect" ng-model="telemetry.telemetryUnitId" ng-options="unit.id as unit.name for unit in options.telemetryUnits">
                                                <option value="">Unassigned</option>
                                            </select>
                                    </td>
                                    <td class="hidden-xs" ng-if="!telemetry.editing">{{telemetry.controllable}}</td>
                                    <td class="hidden-xs" ng-if="telemetry.editing"><input type="checkbox" value="" ng-model="telemetry.controllable" /></td>
                                    <td class="hidden-xs" ng-if="canSaveDeviceType">
                                        <button type="button" class="btn btn-link col-sm-12 col-md-6" ng-click="edit(deviceType.telemetries, $index)" ng-disabled="telemetry.editing &amp;&amp; (deviceTypeForm['telemetry'+$index+'Description'].$invalid || deviceTypeForm['telemetry'+$index+'Name'].$invalid)">
                                                {{telemetry.editing ? 'Done' : 'Edit'}}
                                            </button>
                                        <button type="button" class="btn btn-link col-sm-12 col-md-6" ng-click="delete(deviceType.telemetries, $index)">Delete</button>
                                    </td>
                                    <!-- FOR MOBILE VIEW -->
                                    <td class="hidden-sm hidden-md hidden-lg">
                                        <div ng-if="!telemetry.editing"><b>Name:</b> {{telemetry.name}}</div>
                                        <div ng-if="telemetry.editing">
                                            <b>Name:</b>
                                            <input type="text" name="{{'telemetry'+$index+'Name_m'}}" class="form-control" ng-model="telemetry.name" required minlength="3" maxlength="100" />
                                            <div class="alert-danger" ng-messages="deviceTypeForm['telemetry'+$index+'Name_m'].$error" role="alert">
                                                <span ng-message="required">Name is required</span>
                                                <span ng-message="minlength, maxlength">Name must be between 3 and 100 characters long</span>
                                            </div>
                                        </div>
                                        <div ng-if="!telemetry.editing"><b>Description:</b> {{telemetry.description}}</div>
                                        <div ng-if="telemetry.editing" class="margin-top-20">
                                            <b>Description:</b>
                                            <input type="text" name="{{'telemetry'+$index+'Description_m'}}" class="form-control" ng-model="telemetry.description" maxlength="1000" />
                                            <div class="alert-danger" ng-messages="deviceTypeForm['telemetry'+$index+'Description_m'].$error" role="alert">
                                                <span ng-message="maxlength">Description must be maximum 1000 characters long</span>
                                            </div>
                                        </div>
                                        <div ng-if="!telemetry.editing"><b>Type:</b> {{telemetry.type}}</div>
                                        <div ng-if="telemetry.editing" class="margin-top-20"><b>Type:</b> <select class="form-control" ng-model="telemetry.type" ng-options="type for type in options.telemetryTypes"></select></div>
                                        <div ng-if="!telemetry.editing"><b>Unit:</b> {{getTelemetryUnitName(telemetry)}}</div>
                                        <div ng-if="telemetry.editing" class="margin-top-20"><b>Unit:</b>
                                            <select class="form-control customSelect" ng-model="telemetry.telemetryUnitId" ng-options="unit.id as unit.name for unit in options.telemetryUnits">
                                                    <option value="">Unassigned</option>
                                                </select>
                                        </div>
                                        <div ng-if="!telemetry.editing"><b>Controllable:</b> {{telemetry.controllable}}</div>
                                        <div ng-if="telemetry.editing" class="margin-top-20"><b>Controllable:</b> <input type="checkbox" value="" ng-model="telemetry.controllable" /></div>
                                        <div ng-if="canSaveDeviceType" class="text-center margin-top-20">
                                            <button type="button" class="btn btn-link" ng-click="edit(deviceType.telemetries, $index)" ng-disabled="telemetry.editing &amp;&amp; (deviceTypeForm['telemetry'+$index+'Description_m'].$invalid || deviceTypeForm['telemetry'+$index+'Name_m'].$invalid)">
                                                    {{telemetry.editing ? 'Done' : 'Edit'}}
                                                </button>
                                            <button type="button" class="btn btn-link" ng-click="delete(deviceType.telemetries, $index)">Delete</button>
                                        </div>
                                    </td>
                                    <!-- /FOR MOBILE VIEW -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="deviceType.telemetries.length == 0" style="min-height: 200px;">
                        No telemetry definitions are defined for this device type
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="activeTab == 2">
            <div class="row">
                <div class="form-group col-sm-12" style="margin-bottom: 0;">
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-primary obj-btn-add-row" ng-if="canSaveDeviceType" ng-click="add(deviceType.stateMetadata)">Add</button>
                        </div>
                    </div>
                    <div class="scrollable-table device-type-details-table" ng-show="deviceType.stateMetadata.length>0" style="min-height: 250px;">
                        <table class="table table-striped table-bordered" style="table-layout: fixed;">
                            <thead class="hidden-xs">
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th ng-if="canSaveDeviceType">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="state in deviceType.stateMetadata track by $index">
                                    <td class="hidden-xs" ng-if="!state.editing">{{state.name}}</td>
                                    <td class="hidden-xs" ng-if="state.editing">
                                        <input type="text" name="{{'state'+$index+'Name'}}" class="form-control" ng-model="state.name" required ng-change="verifyNameUnique()" ng-init="verifyNameUnique()" />
                                        <div class="alert-danger" ng-messages="deviceTypeForm['state'+$index+'Name'].$error" role="alert">
                                            <span ng-message="required">Name is required</span>
                                            <span ng-message="duplicate">Name must be unique</span>
                                        </div>
                                    </td>
                                    <td class="hidden-xs" ng-if="!state.editing">{{state.description}}</td>
                                    <td class="hidden-xs" ng-if="state.editing">
                                        <input type="text" name="{{'state'+$index+'Description'}}" class="form-control" ng-model="state.description" />
                                    </td>
                                    <td class="hidden-xs" ng-if="!state.editing">{{state.type}}</td>
                                    <td class="hidden-xs" ng-if="state.editing"><select class="form-control customSelect" ng-model="state.type" ng-options="type for type in options.deviceStateValueTypes"></select></td>
                                    <td class="hidden-xs" ng-if="canSaveDeviceType">
                                        <button type="button" class="btn btn-link col-sm-12 col-md-6" ng-click="edit(deviceType.stateMetadata, $index)" ng-disabled="state.editing &amp;&amp; (deviceTypeForm['state'+$index+'Description'].$invalid || deviceTypeForm['state'+$index+'Name'].$invalid)">
                                                {{state.editing ? 'Done' : 'Edit'}}
                                            </button>
                                        <button type="button" class="btn btn-link col-sm-12 col-md-6" ng-click="delete(deviceType.stateMetadata, $index)">Delete</button>
                                    </td>
                                    <!-- FOR MOBILE VIEW -->
                                    <td class="hidden-sm hidden-md hidden-lg">
                                        <div ng-if="!state.editing"><b>Name:</b> {{state.name}}</div>
                                        <div ng-if="state.editing">
                                            <b>Name:</b>
                                            <input type="text" name="{{'state'+$index+'Name_m'}}" class="form-control" ng-model="state.name" required ng-change="verifyNameUnique()" ng-init="verifyNameUnique()" />
                                            <div class="alert-danger" ng-messages="deviceTypeForm['state'+$index+'Name_m'].$error" role="alert">
                                                <span ng-message="required">Name is required</span>
                                                <span ng-message="duplicate">Name must be unique</span>
                                            </div>
                                        </div>
                                        <div ng-if="!state.editing"><b>Description:</b> {{state.description}}</div>
                                        <div ng-if="state.editing" class="margin-top-20">
                                            <b>Description:</b>
                                            <input type="text" name="{{'state'+$index+'Description_m'}}" class="form-control" ng-model="state.description" />
                                        </div>
                                        <div ng-if="!state.editing"><b>Type:</b> {{state.type}}</div>
                                        <div ng-if="state.editing" class="margin-top-20"><b>Type:</b> <select class="form-control customSelect" ng-model="state.type" ng-options="type for type in options.deviceStateValueTypes"></select></div>
                                        <div ng-if="canSaveDeviceType" class="text-center margin-top-20">
                                            <button type="button" class="btn btn-link" ng-click="edit(deviceType.stateMetadata, $index)" ng-disabled="state.editing &amp;&amp; (deviceTypeForm['state'+$index+'Description_m'].$invalid || deviceTypeForm['state'+$index+'Name_m'].$invalid)">
                                                    {{state.editing ? 'Done' : 'Edit'}}
                                                </button>
                                            <button type="button" class="btn btn-link" ng-click="delete(deviceType.stateMetadata, $index)">Delete</button>
                                        </div>
                                    </td>
                                    <!-- /FOR MOBILE VIEW -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="deviceType.stateMetadata.length == 0" style="min-height: 200px;">
                        Device state is not defined for this device type
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="activeTab == 3">
            <div class="row">

                <div class="form-group col-sm-6">
                    <label for="manufacturer">Hardware Manufacturer</label>
                    <select id="manufacturer" name="manufacturer" class="form-control customSelect"
                        ng-model="options.selection.manufacturerId"
                        ng-options="manufacturer.id as manufacturer.name for manufacturer in options.manufacturers"
                        ng-disabled="options.manufacturers == null"
                        ng-change="updateSelectionOptions(['productId', 'productTypeId'], options.selection.categoryId != null)">
                        <option value="">Select Hardware Manufacturer</option>
                    </select>
                    <div ng-messages="deviceTypeForm.manufacturer.$error" role="alert">
                        <div class="alert-danger">
                            <div ng-messages-include="scripts/kronos/tpl/form-validation-messages.html"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label for="category">Hardware Category</label>
                    <select id="category" name="category" class="form-control customSelect"
                        ng-model="options.selection.deviceCategory"
                        ng-options="category as category for category in options.deviceCategories"
                        ng-disabled="options.deviceCategories == null"
                        ng-change="updateSelectionOptions(['productId', 'productTypeId'], options.selection.manufacturerId != null)">
                        <option value="">Select Hardware Category</option>
                    </select>
                    <div ng-messages="deviceTypeForm.category.$error" role="alert">
                        <div class="alert-danger">
                            <div ng-messages-include="scripts/kronos/tpl/form-validation-messages.html"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label for="product">Hardware Product</label>
                    <select id="product" name="product" class="form-control customSelect"
                        ng-model="options.selection.productId"
                        ng-options="product.id as product.name for product in options.products"
                        ng-disabled="options.products == null"
                        ng-change="updateSelectionOptions(['productTypeId'], true)">
                        <option value="">Select Hardware Product</option>
                    </select>
                    <div ng-messages="deviceTypeForm.product.$error" role="alert">
                        <div class="alert-danger">
                            <div ng-messages-include="scripts/kronos/tpl/form-validation-messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="productType">Hardware Version</label>
                    <select id="productType" name="productType" class="form-control customSelect"
                        ng-model="options.selection.productTypeId"
                        ng-options="productType.id as productType.name for productType in options.productTypes"
                        ng-disabled="options.productTypes == null"
                        ng-change="updateSelectionOptions([], false)">
                        <option value="">Select Hardware Version</option>
                    </select>
                    <div ng-messages="deviceTypeForm.productType.$error" role="alert">
                        <div class="alert-danger">
                            <div ng-messages-include="scripts/kronos/tpl/form-validation-messages.html"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-default" ng-show="activeTab > 0" type="button" ng-click="activeTab = activeTab-1;">Previous</button>
        <button class="btn btn-default" ng-show="activeTab < 2" type="button" ng-click="activeTab = activeTab+1;">Next</button>
        <button class="btn btn-default" ng-show="canSaveDeviceType" ng-disabled="deviceTypeForm.$invalid" type="submit">Save</button>
    </div>
</form>