.callout { background-color: #fff; }

.bg-green { background: rgb(193, 214, 45); }
.bg-yellow { background: rgb(252, 185, 47); }
.bg-blue { background: rgb(0, 156, 219); }
.bg-purple { background: rgb(120, 29, 124); }
.bg-red { background: rgb(163, 11, 52); }

.callout-green { border-left-color:rgb(193, 214, 45); }
.callout-green h4{ color:rgb(193, 214, 45); }

.callout-yellow { border-left-color:rgb(252, 185, 47); }
.callout-yellow h4{ color:rgb(252, 185, 47); }

.callout-blue { border-left-color:rgb(0, 156, 219); }
.callout-blue h4{ color:rgb(0, 156, 219); }

.callout-purple { border-left-color:rgb(120, 29, 124); }
.callout-purple h4 { color:rgb(120, 29, 124); }

.callout-red { border-left-color:rgb(163, 11, 52); }
.callout-red h4 { color:rgb(163, 11, 52); }

.callout-danger { border-left-color:#ce4844; }
.callout-danger h4 { color:#ce4844; }

.callout-warning { border-left-color:#aa6708; }
.callout-warning h4 { color:#aa6708; }

.callout-info { border-left-color:#1b809e; }
.callout-info h4 { color:#1b809e; }


.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.h4, h4 {
    font-size: 18px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.bg-green { background: rgb(193, 214, 45); }
.bg-yellow { background: rgb(252, 185, 47); }
.bg-blue { background: #00a19b; }
.bg-purple { background: #92278F; }
.bg-red { background: rgb(235, 16, 75); }

.green,
h3.green,
h4.green { color:rgb(193, 214, 45); }
.yellow,
h3.yellow,
h4.yellow { color:rgb(252, 185, 47); }
.blue,
h3.blue,
h4.blue { color:rgb(0, 156, 219); }
.purple,
h3.purple,
h4.purple { color:rgb(120, 29, 124); }
.red,
h3.red,
h4.red { color:rgb(235, 16, 75); }


.badge-iot { background-color: #00a19b; }


.btn-default {
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
    border-color: #02A19B;
    text-shadow: 0 0px 0 transparent
}

.btn-default, 
.btn-primary, 
.btn-success, 
.btn-info, 
.btn-warning, 
.btn-danger {
    text-shadow: 0 0px 0 rgba(0,0,0,0.0);
    -webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,0.0), 0 0px 0px rgba(0,0,0,0.0);
    box-shadow: inset 0 0px 0 rgba(255,255,255,0.0), 0 0px 0px rgba(0,0,0,0.0);
}

.btn-default {
    color: #02A19B;
    background-color: #fff;
    border-color: #02A19B;
}

.btn-default:hover {
    color: #f5f5f5;
    background-color: #02A19B;
    border-color: #02A19B;
}

.btn-default:active, 
.btn-default.active {
    color: #f5f5f5;
    background-color: #02A19B;
    border-color: #02A19B;
}

.btn-default:active, 
.btn-primary:active, 
.btn-success:active, 
.btn-info:active, 
.btn-warning:active, 
.btn-danger:active, 
.btn-default.active, 
.btn-primary.active, 
.btn-success.active, 
.btn-info.active, 
.btn-warning.active, 
.btn-danger.active {
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
    box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
}

.btn-default:active:hover, 
.btn-default.active:hover, 
.open>.dropdown-toggle.btn-default:hover, 
.btn-default:active:focus, 
.btn-default.active:focus, 
.open>.dropdown-toggle.btn-default:focus, 
.btn-default:active.focus, 
.btn-default.active.focus, 
.open>.dropdown-toggle.btn-default.focus {
    color: #f5f5f5;
    background-color: #02A19B;
    border-color: #02A19B;
}

.btn-default.disabled, 
.btn-default[disabled], 
fieldset[disabled] .btn-default, .btn-default.disabled:hover, 
.btn-default[disabled]:hover, 
fieldset[disabled] .btn-default:hover, 
.btn-default.disabled:focus, 
.btn-default[disabled]:focus, 
fieldset[disabled] .btn-default:focus, 
.btn-default.disabled.focus, 
.btn-default[disabled].focus, 
fieldset[disabled] .btn-default.focus, 
.btn-default.disabled:active, 
.btn-default[disabled]:active, 
fieldset[disabled] .btn-default:active, 
.btn-default.disabled.active, 
.btn-default[disabled].active, 
fieldset[disabled] .btn-default.active {
    background-color: #fff;
    background-image: none;
}

.btn-default.disabled, 
.btn-default[disabled], 
fieldset[disabled] .btn-default, 
.btn-default.disabled:hover, 
.btn-default[disabled]:hover, 
fieldset[disabled] .btn-default:hover, 
.btn-default.disabled:focus, 
.btn-default[disabled]:focus, 
fieldset[disabled] .btn-default:focus, 
.btn-default.disabled.focus, 
.btn-default[disabled].focus, 
fieldset[disabled] .btn-default.focus, 
.btn-default.disabled:active, 
.btn-default[disabled]:active, 
fieldset[disabled] .btn-default:active, 
.btn-default.disabled.active, 
.btn-default[disabled].active, 
fieldset[disabled] .btn-default.active {
	color: #ccc;
    background-color: #fff;
    border-color: #02A19B;
}

.btn.disabled, .btn[disabled], 
fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: 1;
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus {
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
    background-color: #02A19B;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus {
    color: #f5f5f5;
    text-decoration: none;
    outline: 0;
    background-color: #02A19B;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    /*border: 1px solid rgba(0,0,0,0.15);*/
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.dropdown-menu-right {
    left: auto;
    right: 0; 
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #f5f5f5;
	background-image: none;
    background-repeat: no-repeat;
    filter: none;
    background-color: #02A19B;
}

.btn-default:hover, 
.btn-default:focus {
    background-color: #02A19B;
    background-position: 0 -15px;
}

.btn-default:focus, 
.btn-default.focus {
    color: #f5f5f5;
    background-color: #02A19B;
    border-color: #02A19B;
}

.btn-default:active, 
.btn-default.active, 
.open>.dropdown-toggle.btn-default {
    color: #f5f5f5;
    background-color: #02A19B;
    border-color: #02A19B;
}


.fota .stats .stat .value {
    position: relative;
    display: inline-block;
    font-weight: bold;
    line-height: 64px;
    color: rgba(245,245,245,1);
    font-size: 5.5vmin;
    padding-top: 36px;
}
.fota-legend li { line-height: 20px; vertical-align: middle; }
.fota-legend i { margin-right: 3px; }
.fota-legend i.pending { color: #feb737; }
.fota-legend i.inprogress { color: #007fa1; }
.fota-legend i.received { color: #32d6a7; }
.fota-legend i.complete { color: #00a172; }
.fota-legend i.cancelled { color: #ff5500; }
.fota-legend i.expired { color: #707070; }
.fota-legend i.error { color: #ff0000; }

.progress-bar-fota { background-image: none; color: #fff; cursor: default; }

.badge-fota-pending,
.fota-bg-pending { background-color: #feb737; }

.badge-fota-inprogress,
.fota-bg-inprogress { background-color: #007fa1; }

.badge-fota-received,
.fota-bg-received { background-color: #32d6a7; }

.badge-fota-complete,
.fota-bg-complete { background-color: #00a172; }

.badge-fota-cancelled,
.fota-bg-cancelled { background-color: #ff5500; }

.badge-fota-expired,
.fota-bg-expired { background-color: #707070; }

.badge-fota-error,
.fota-bg-error { background-color: #ff0000; }