<form name="form" 
	class="form-horizontal" 
	role="form" 
	novalidate>
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">
			Password Policy
		</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<div class="form-body">
			<div class="row">
				<div class="col-md-8">						
					<div class="form-group"
						ng-class="{ 'has-error': form.minLength.$touched && form.minLength.$invalid, 'has-success': form.minLength.$touched && !form.minLength.$invalid }">
						<label for="minLength" class="col-md-4 control-label">Minimum Length <span class="required" aria-required="true">*</span></label>
						<div class="col-md-8">
							<div class="input-icon right">
								<i ng-show="form.minLength.$touched && form.minLength.$invalid"
									class="fa fa-warning"></i> <i
									ng-show="form.minLength.$touched && !form.minLength.$invalid"
									class="fa fa-check"></i> 
									<input id="minLength"
										name="minLength" 
										type="number"
										class="form-control"
										placeholder="8"
										ng-model="companyAuthentication.passwordPolicy.minLength" 
										ng-trim="true"
										ng-required="true" 
										ng-minlength="1" 
										ng-maxlength="255">
							</div>
							<div class="help-block"
								ng-messages="form.minLength.$error"
								ng-show="form.minLength.$touched">
								<div ng-messages-include="scripts/pegasus/tpl/form-validation-messages.html"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">						
					<div class="form-group"
						ng-class="{ 'has-error': form.maxLength.$touched && form.maxLength.$invalid, 'has-success': form.maxLength.$touched && !form.maxLength.$invalid }">
						<label for="maxLength" class="col-md-4 control-label">Maximum Length <span class="required" aria-required="true">*</span></label>
						<div class="col-md-8">
							<div class="input-icon right">
								<i ng-show="form.maxLength.$touched && form.maxLength.$invalid"
									class="fa fa-warning"></i> <i
									ng-show="form.maxLength.$touched && !form.maxLength.$invalid"
									class="fa fa-check"></i> 
									<input id="maxLength"
										name="maxLength" 
										type="number"
										class="form-control"
										placeholder="32"
										ng-model="companyAuthentication.passwordPolicy.maxLength" 
										ng-trim="true"
										ng-required="true" 
										ng-minlength="1" 
										ng-maxlength="255">
							</div>
							<div class="help-block"
								ng-messages="form.maxLength.$error"
								ng-show="form.maxLength.$touched">
								<div ng-messages-include="scripts/pegasus/tpl/form-validation-messages.html"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">						
					<div class="form-group"
						ng-class="{ 'has-error': form.minLowerCase.$touched && form.minLowerCase.$invalid, 'has-success': form.minLowerCase.$touched && !form.minLowerCase.$invalid }">
						<label for="minLowerCase" class="col-md-4 control-label">Minimum Lower Case <span class="required" aria-required="true">*</span></label>
						<div class="col-md-8">
							<div class="input-icon right">
								<i ng-show="form.minLowerCase.$touched && form.minLowerCase.$invalid"
									class="fa fa-warning"></i> <i
									ng-show="form.minLowerCase.$touched && !form.minLowerCase.$invalid"
									class="fa fa-check"></i> 
									<input id="minLowerCase"
										name="minLowerCase" 
										type="number"
										class="form-control"
										placeholder="1"
										ng-model="companyAuthentication.passwordPolicy.minLowerCase" 
										ng-trim="true"
										ng-required="true" 
										ng-minlength="1" 
										ng-maxlength="255">
							</div>
							<div class="help-block"
								ng-messages="form.minLowerCase.$error"
								ng-show="form.minLowerCase.$touched">
								<div ng-messages-include="scripts/pegasus/tpl/form-validation-messages.html"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">						
					<div class="form-group"
						ng-class="{ 'has-error': form.minUpperCase.$touched && form.minUpperCase.$invalid, 'has-success': form.minUpperCase.$touched && !form.minUpperCase.$invalid }">
						<label for="minUpperCase" class="col-md-4 control-label">Minimum Upper Case <span class="required" aria-required="true">*</span></label>
						<div class="col-md-8">
							<div class="input-icon right">
								<i ng-show="form.minUpperCase.$touched && form.minUpperCase.$invalid"
									class="fa fa-warning"></i> <i
									ng-show="form.minUpperCase.$touched && !form.minUpperCase.$invalid"
									class="fa fa-check"></i> 
									<input id="minUpperCase"
										name="minUpperCase" 
										type="number"
										class="form-control"
										placeholder="1"
										ng-model="companyAuthentication.passwordPolicy.minUpperCase" 
										ng-trim="true"
										ng-required="true" 
										ng-minlength="1" 
										ng-maxlength="255">
							</div>
							<div class="help-block"
								ng-messages="form.minUpperCase.$error"
								ng-show="form.minUpperCase.$touched">
								<div ng-messages-include="scripts/pegasus/tpl/form-validation-messages.html"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">						
					<div class="form-group"
						ng-class="{ 'has-error': form.minDigit.$touched && form.minDigit.$invalid, 'has-success': form.minDigit.$touched && !form.minDigit.$invalid }">
						<label for="minDigit" class="col-md-4 control-label">Minimum Digits <span class="required" aria-required="true">*</span></label>
						<div class="col-md-8">
							<div class="input-icon right">
								<i ng-show="form.minDigit.$touched && form.minDigit.$invalid"
									class="fa fa-warning"></i> <i
									ng-show="form.minDigit.$touched && !form.minDigit.$invalid"
									class="fa fa-check"></i> 
									<input id="minDigit"
										name="minDigit" 
										type="number"
										class="form-control"
										placeholder="1"
										ng-model="companyAuthentication.passwordPolicy.minDigit" 
										ng-trim="true"
										ng-required="true" 
										ng-minlength="1" 
										ng-maxlength="255">
							</div>
							<div class="help-block"
								ng-messages="form.minDigit.$error"
								ng-show="form.minDigit.$touched">
								<div ng-messages-include="scripts/pegasus/tpl/form-validation-messages.html"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">						
					<div class="form-group"
						ng-class="{ 'has-error': form.minSpecial.$touched && form.minSpecial.$invalid, 'has-success': form.minSpecial.$touched && !form.minSpecial.$invalid }">
						<label for="minSpecial" class="col-md-4 control-label">Minimum Special Characters <span class="required" aria-required="true">*</span></label>
						<div class="col-md-8">
							<div class="input-icon right">
								<i ng-show="form.minSpecial.$touched && form.minSpecial.$invalid"
									class="fa fa-warning"></i> <i
									ng-show="form.minSpecial.$touched && !form.minSpecial.$invalid"
									class="fa fa-check"></i> 
									<input id="minSpecial"
										name="minSpecial" 
										type="number"
										class="form-control"
										placeholder="1"
										ng-model="companyAuthentication.passwordPolicy.minSpecial" 
										ng-trim="true"
										ng-required="true" 
										ng-minlength="1" 
										ng-maxlength="255">
							</div>
							<div class="help-block"
								ng-messages="form.minSpecial.$error"
								ng-show="form.minSpecial.$touched">
								<div ng-messages-include="scripts/pegasus/tpl/form-validation-messages.html"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">						
					<div class="form-group"
						ng-class="{ 'has-error': form.historical.$touched && form.historical.$invalid, 'has-success': form.historical.$touched && !form.historical.$invalid }">
						<label for="historical" class="col-md-4 control-label">Historical Passwords <span class="required" aria-required="true">*</span></label>
						<div class="col-md-8">
							<div class="input-icon right">
								<i ng-show="form.historical.$touched && form.historical.$invalid"
									class="fa fa-warning"></i> <i
									ng-show="form.historical.$touched && !form.historical.$invalid"
									class="fa fa-check"></i> 
									<input id="historical"
										name="historical" 
										type="number"
										class="form-control"
										placeholder="3"
										ng-model="companyAuthentication.passwordPolicy.historical" 
										ng-trim="true"
										ng-required="true" 
										ng-minlength="1" 
										ng-maxlength="255">
							</div>
							<div class="help-block"
								ng-messages="form.historical.$error"
								ng-show="form.historical.$touched">
								<div ng-messages-include="scripts/pegasus/tpl/form-validation-messages.html"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">						
					<div class="form-group"
						ng-class="{ 'has-error': form.allowWhitespace.$touched && form.allowWhitespace.$invalid, 'has-success': form.allowWhitespace.$touched && !form.allowWhitespace.$invalid }">
						<label for="allowWhitespace" class="col-md-4 control-label">Allow WhiteSpace</label>
						<div class="col-md-8">
							<div class="checkbox">
								<label>
									<div class="checker">
										<span ng-class="companyAuthentication.passwordPolicy.allowWhitespace ? 'checked' : ''">
											<input type="checkbox" 
												ng-checked="companySecurity.passwordPolicy.allowWhitespace"
												ng-model="companyAuthentication.passwordPolicy.allowWhitespace" />
										</span>
									</div>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" 
			class="btn btn-default" 
			ng-disabled="busy"
			ng-click="save(form, companyAuth)">Save</button>
		<button type="button" 
			class="btn btn-default" 
			ng-disabled="busy"
			ng-click="cancel()">Cancel</button>
	</div>
</form>