<style>
.btn-green,
.btn-green:focus,
.btn-green:active:focus,
.btn-green:hover,
.btn-green:active:hover {
	background-color: #00a19b;
	border-color: #00a19b;
	color: #f5f5f5;
	width: 90px;
	height: 40px;
}

.btn-yes { }
.btn-no {
	margin-left: 10px;
}

.callout-purple h4 {
    color: #00a19b;
}

.callout-purple {
    border-left-color: #00a19b;
}
</style>
<div class="row-content no-list-page">
    <div class="content-wrapper-fluid">
        <div class="container">
            <div class="row">
            	<div class="col-md-12" ng-if="!vm.resendEmail && !vm.emailSent && !vm.unableToSendEmail">Please wait...</div>
            	<div class="col-md-12" ng-if="vm.resendEmail">
					<div ng-show="vm.resendEmail"> 						
					
						<form id="registrationForm" 
							name="vm.registrationForm" 
							class="form-horizontal signin-form" 
							ng-submit="vm.resend()" 
							novalidate>
							<div class="callout callout-purple">
								<h4>Expired Verification!</h4>
								<p>Too much time has elapsed since your received your verification email! Would you like us to send a new verification email?</p>
								<div class="col-sm-12">
									<!--button type="button" 
										class="btn btn-green btn-no pull-right" 
										ng-disabled="vm.processing"
										ng-click="vm.ok()">No</button-->
									<button type="submit" 
										class="btn btn-green pull-right" 
										ng-disabled="vm.processing">Yes</button>
								</div>
								<br/>
								<br/>
							</div>
						</form>
					</div>
            	</div>
				<div ng-show="vm.emailSent"> 	
					<div class="callout callout-purple">
						<h4>Email Sent!</h4>
						<p>We have sent you a new verification email!</p>
					</div>
				</div>
				<div ng-show="vm.unableToSendEmail"> 	
					<div class="callout callout-purple">
						<h4>Not able to send Email!</h4>
						<p>We were unable to send you a new verification email. Please contact <strong>support@arrowconnect.io</strong> for assistance.</p>
					</div>
				</div>
            </div>
		</div>
	</div>
</div>